.App {
  text-align: center;
}
body {
  background-color: rgba(238, 70, 227, 0.403);

}
 .sol{
  width: 200px; height: 280px;
  border-radius: 20px ;
  text-align: center;


 }
 .card{

  width: 330px;

 }
