.App {
  text-align: center;
}
body {
  background: linear-gradient(rgb(118, 6, 6), rgba(218, 28, 28, 0.543));
  padding-top: 2rem;

}
 .sol{
  width: 200px; height: 300px;
  border-radius: 20px ;
  text-align: center;
margin:auto ;
margin-top: 1rem;

 }
 .card{

  width: 430px;
  margin: auto;
 }
.fst-italic{

  color: rgba(166, 6, 6, 0.773);
}
  
